{% extends "layout.html.twig" %}

{% import "macros.html.twig" as macros %}

{% block title %}{{ event.class }} &minus; {{ parent() }}{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        <!--
        $(document).ready(function () {
            $('tr.additional-info').hide();
            $('a.test-method').click(function () {
                $(this).parents('tr').next('tr.additional-info:first').toggle();
                return false;
            });
            $('a.depends').click(function () {
                return false;
            });
        });
        -->
    </script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ levelUp(event.class) }}index.html">Report</a></li>
        {{ macros.breadcrumb(event.class) }}
    </ul>
    <div class="wrapper">
        {{ macros.total(statistics) }}
    </div>
    <div class="wrapper">
        {{ macros.progress(statistics) }}
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Test method</th>
            <th>Asserts</th>
            <th>Time</th>
            <th>Depends</th>
        </tr>
        </thead>
        <tbody>
        {% for method in case %}
            <tr class="{{ macros.style(method) }}">
                <td>{{ loop.index }}</td>
                <td>
                    {% if method.isSuccess() or method.isSkipped() %}
                        {{ method.method }}
                    {% else %}
                        <a href="#" class="test-method">{{ method.method }}</a>
                    {% endif %}
                    {% if method.getDataSet() > 0 %}
                        with data set #{{ method.getDataSet() }}
                    {% endif %}
                </td>
                <td>{{ method.asserts }}</td>
                <td>{{ method.time|number_format(4) }} sec.</td>
                <td>{{ macros.depends(method.depends) }}</td>
            </tr>
            {% if not method.isSuccess() %}
                <tr class="additional-info {{ macros.style(method) }}">
                    <td colspan="5"><i>[{{ method.exception }}]: {{ method.getExceptionMessage()|nl2br }}</i></td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td><b>Total</b> ({{ statistics|length }})</td>
            <td>{{ statistics.asserts }}</td>
            <td>{{ statistics.time|number_format(4) }} sec.</td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}