{% extends "layout.html.twig" %}

{% import "macros.html.twig" as macros %}

{% block title %}{{ case.class }} &minus; {{ parent() }}{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        <!--
        $(document).ready(function () {
            $('tr.additional-info').hide();
            $('a.test-method').click(function () {
                $(this).parents('tr').next('tr.additional-info:first').toggle();
                return false;
            });
            $('a.depends').click(function () {
                return false;
            });
        });
        -->
    </script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="./index.html">Report</a> <span class="divider">/</span></li>
        {{ macros.breadcrumb(case.class) }}
    </ul>
    <div class="row-fluid">
        <div class="span3">
            <span class="label label-success">Success</span>: <b>{{ case.getTestsCount('success') }}</b>
        </div>
        <div class="span3">
            <span class="label label-warning">Skipped</span>: <b>{{ case.getTestsCount('skipped') }}</b>
        </div>
        <div class="span3">
            <span class="label label-important">Failed</span>:
            <b>{{ case.getTestsCount('fail') }}</b> + <b>{{ case.getTestsCount('error') }}</b>
        </div>
        <div class="span3">
            <span class="label label-info">Incomplete</span>: <b>{{ case.getTestsCount('incomplete') }}</b>
        </div>
    </div>
    <div class="progress">
        <div class="bar bar-success" style="width: {{ testPercent(case, 'success') }}%;"
             title="Success: {{ case.getTestsCount('success') }}/{{ case.getTestsCount() }}"></div>
        <div class="bar bar-warning" style="width: {{ testPercent(case, 'skipped') }}%;"
             title="Skipped: {{ case.getTestsCount('skipped') }}/{{ case.getTestsCount() }}"></div>
        <div class="bar bar-danger" style="width: {{ testPercent(case, 'fail') + testPercent(case, 'error') }}%;"
             title="Failed: {{ case.getTestsCount('fail') + case.getTestsCount('error') }}/{{ case.getTestsCount() }}"></div>
        <div class="bar bar-info" style="width: {{ testPercent(case, 'incomplete') }}%;"
             title="Incomplete: {{ case.getTestsCount('incomplete') }}/{{ case.getTestsCount() }}"></div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Test method</th>
            <th>Asserts</th>
            <th>Time</th>
            <th>Depends</th>
        </tr>
        </thead>
        <tbody>
        {% for test in case.getTestEvents() %}
            <tr class="{{ macros.test_style(test) }}">
                <td>
                    {% if test.isSuccess() %}
                        {{ test.method }}
                    {% else %}
                        <a href="#" class="test-method">{{ test.method }}</a>
                    {% endif %}
                </td>
                <td>{{ test.asserts }}</td>
                <td>{{ test.time|number_format(4) }} sec.</td>
                <td>{{ macros.depends(test.depends) }}</td>
            </tr>
            {% if not test.isSuccess() %}
                <tr class="additional-info {{ macros.test_style(test) }}">
                    <td colspan="4"><i>{{ test.exception }}</i></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}