{% extends "layout.html.twig" %}

{% import "macros.html.twig" as macros %}

{% block title %}{{ case.class }} &minus; {{ parent() }}{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="./index.html">Report</a> <span class="divider">/</span></li>
        {{ macros.breadcrumb(case.class) }}
    </ul>
    <div class="progress">
        <div class="bar bar-success" style="width: {{ case.getTestPercent('success') }}%;"
             title="Success: {{ case.getTestsCount('success') }}/{{ case.getTestsCount() }}"></div>
        <div class="bar bar-warning" style="width: {{ case.getTestPercent('skipped') }}%;"
             title="Skipped: {{ case.getTestsCount('skipped') }}/{{ case.getTestsCount() }}"></div>
        <div class="bar bar-danger" style="width: {{ case.getTestPercent('fail') }}%;"
             title="Failed: {{ case.getTestsCount('fail') }}/{{ case.getTestsCount() }}"></div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Test method</th>
            <th>Asserts</th>
            <th>Time</th>
            <th>Depends</th>
        </tr>
        </thead>
        <tbody>
        {% for test in case.getTestEvents() %}
            <tr class="{% if test.isSuccess() %}success{% elseif test.isFailed() %}error{% else %}warning{% endif %}">
                <td>{{ test.method }}</td>
                <td>{{ test.asserts }}</td>
                <td>{{ test.time|number_format(4) }} sec.</td>
                <td>{{ macros.depends(test.depends) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}