{% macro depends(methods) %}
    {% for method in methods %}
        <a href="#" data-id="{{ method }}" class="depends">{{ method }}</a>{% if not loop.last %},{% endif %}
    {% else %}
        &minus;
    {% endfor %}
{% endmacro %}

{% macro breadcrumb(class) %}
    {% for element in explode('\\', class) %}
        {% if loop.last %}
            <li class="active">{{ element }}</li>
        {% else %}
            <li><a href="javascript:">{{ element }}</a> <span class="divider">/</span></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro test_style(test) %}
    {% spaceless %}
        {% if test.isSuccess() %}
            success
        {% elseif test.isFailed() or test.hasError() %}
            error
        {% elseif test.isIncomplete() %}
            info
        {% else %}
            warning
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro progress(statistics) %}
    <div class="progress">
        <div class="bar bar-success" style="width: {{ testPercent(statistics, 'success') }}%;"
             title="Success: {{ statistics.success }}/{{ statistics|length }}"></div>
        <div class="bar bar-warning" style="width: {{ testPercent(statistics, 'skipped') }}%;"
             title="Skipped: {{ statistics.skipped }}/{{ statistics|length }}"></div>
        <div class="bar bar-danger"
             style="width: {{ testPercent(statistics, 'fail') + testPercent(statistics, 'error') }}%;"
             title="Failed: {{ statistics.fail + statistics.error }}/{{ statistics|length }}"></div>
        <div class="bar bar-info" style="width: {{ testPercent(statistics, 'incomplete') }}%;"
             title="Incomplete: {{ statistics.incomplete }}/{{ statistics|length }}"></div>
    </div>
{% endmacro %}