{% macro depends(methods) %}
    {% for method in methods %}
        <a href="#" data-id="{{ method }}" class="depends">{{ method }}</a>{% if not loop.last %},{% endif %}
    {% else %}
        &minus;
    {% endfor %}
{% endmacro %}

{% macro breadcrumb(class) %}
    {% for element in explode('\\', class) %}
        {% if loop.last %}
            <li class="active">{{ element }}</li>
        {% else %}
            <li><a href="javascript:">{{ element }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro style(method) %}
    {% spaceless %}
        {% if method.isSuccess() %}
            success
        {% elseif method.isFailed() %}
            danger
        {% elseif method.isIncomplete() %}
            active
        {% else %}
            warning
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro progress(statistics) %}
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{ getTestPercent(statistics.passed, statistics|length) }}%;"
             title="Success: {{ statistics.passed }}/{{ statistics|length }}"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{ getTestPercent(statistics.skipped, statistics|length) }}%;"
             title="Skipped: {{ statistics.skipped }}/{{ statistics|length }}"></div>
        <div class="progress-bar progress-bar-danger" style="width: {{ getTestPercent(statistics.failed, statistics|length) }}%;"
             title="Failed: {{ statistics.failed }}/{{ statistics|length }}"></div>
        <div class="progress-bar progress-bar-info" style="width: {{ getTestPercent(statistics.incomplete, statistics|length) }}%;"
             title="Incomplete: {{ statistics.incomplete }}/{{ statistics|length }}"></div>
    </div>
{% endmacro %}

{% macro total(statistics) %}
    <div class="row">
        <div class="col-md-3">
            <span class="label label-success">Success</span>: <b>{{ statistics.passed }}</b>
        </div>
        <div class="col-md-3">
            <span class="label label-warning">Skipped</span>: <b>{{ statistics.skipped }}</b>
        </div>
        <div class="col-md-3">
            <span class="label label-danger">Failed</span>: <b>{{ statistics.failed }}</b>
        </div>
        <div class="col-md-3">
            <span class="label label-info">Incomplete</span>: <b>{{ statistics.incomplete }}</b>
        </div>
    </div>
{% endmacro %}